h1 {
    margin: auto;
    width:  50%;
    font-size: 2rem;
}

.squareDiv {
    width: 100px;
    height: 100px;
}

#container {
    width: auto;
    height:  auto;
    display: grid;
   /* grid-template-rows: repeat(16, 1fr);
    grid-template-columns: repeat(16, 1fr); */
}


.squareDiv {
    
}