
body {
    background-color: #ebfeff;
    /* display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    height: 90vh; */
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    overflow: hidden;
    height: 95vh;
}

button {
   margin: 0.3rem;
    width: 8rem;
    height:  2rem;
    border-radius: 2rem;
    border-style: solid;
    font-size: 1rem;
}

/*
#buttonContainer {
  margin: auto;
  width: 15%;
}
*/

h1 {
    /*margin: auto;
    width:  25%;*/
    margin-top: 1rem;
    font-size: 2rem;
}


#instructions {
    padding: .5rem;
    /*margin:  auto;
    width: 35%;*/
    font-size: 1.5rem;
}


.squareDiv {
    width: auto;
    height: auto; 
    margin: 0px;
    padding: 0px;
    
}
#drawing-box {
   /* margin: auto;*/
   margin-top: 1rem;
    border-style: inset;
    border-width: .625rem;
    width: 47rem;
    height: 40.625rem;
    display: grid;
   
}

.coloredBox {
    background-color: blueviolet;
    border-block-style: none;
}