h1 {
    margin: auto;
    width:  50%;
    font-size: 2rem;
}

.squareDiv {
    width: 100px;
    height: 100px;
}

#container {
    width: auto;
    /*height:  auto;*/
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}


.squareDiv {
    
}